lib/
log.sql
target/
project/project/
project/target/
build/
dist/
out/
.cache
backup/
.idea/
.idea_modules/
.DS_Store
*.iml
*.ipr
*.iws
*.project
.settings/
.classpath
*.texlipse
*.aux
*.log
tmp/
temp/
*.bk
*.sh
tagstagstagstagstagstagstagstagstags
*.sqlite
